<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <h1></h1>
        <span class="spacer"></span>
        <div class="leftSideMenu">
            <button mat-button [matMenuTriggerFor]="afterMenu">
                <mat-icon>settings</mat-icon>
            </button>
            <mat-menu #afterMenu="matMenu" xPosition="after">
                <button mat-menu-item>
                    <mat-icon>exit_to_app</mat-icon>
                    Logout
                </button>
                <button mat-menu-item>
                    <mat-icon>profile</mat-icon>
                    profile
                </button>
            </mat-menu>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <app-sidenav> </app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 88vh; color: aqua">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
