.mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 100;
}
.spacer {
    flex: 1 1 auto;
}

.mat-toolbar {
    background-color: rgb(78, 74, 184);
    width: 100%;
    height: 60px;
    box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
}

.mat-menu {
    background-color: rgb(78, 74, 184);
}

.menu-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
}

.menu-button-container {
    background-color: rgb(78, 74, 184);
}

button {
    outline: none;
    border: 0;
    background: transparent;
}
