<mat-card>
    <mat-card-title>Registration</mat-card-title>
    <mat-card-content>
        <form novalidate [formGroup]="userRegisterForm" (ngSubmit)="saveUser()">
            <p>
                <mat-form-field>
                    <input type="email" matInput placeholder="your email" formControlName="email" />
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input type="text" matInput placeholder="Username" formControlName="username" />
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input
                        type="password"
                        matInput
                        placeholder="Password"
                        formControlName="password"
                    />
                </mat-form-field>
            </p>
            <!-- <p *ngIf="error" class="error">
                {{ error }}
            </p> -->
            <p>Do you have already an account?</p>
            <div>
                <button type="submit" mat-button>Register</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
<!-- 
<pre>
    {{ userRegisterForm.value | json }}
  </pre
> -->
