<div class="container-fluid">
    <div>
        <p>Header test</p>
    </div>
    <hr class="dashed" />
    <form action="">
        <div class="row">
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-3">
                        <input
                            type="email"
                            class="form-control"
                            aria-describedby="emailHelp"
                            placeholder="Enter email"
                        />
                    </div>
                    <div class="col-md-6">
                        <input
                            type="email"
                            class="form-control"
                            aria-describedby="emailHelp"
                            placeholder="Enter email"
                        />
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="formGroupExampleInput">Example label</label>
                            <input
                                type="text"
                                class="form-control"
                                id="formGroupExampleInput"
                                placeholder="Example input"
                            />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <input
                            type="email"
                            class="form-control"
                            aria-describedby="emailHelp"
                            placeholder="Enter email"
                        />
                    </div>
                    <div class="col-md-6">
                        <input
                            type="email"
                            class="form-control"
                            aria-describedby="emailHelp"
                            placeholder="Enter email"
                        />
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="formGroupExampleInput">Example label</label>
                            <input
                                type="text"
                                class="form-control"
                                id="formGroupExampleInput"
                                placeholder="Example input"
                            />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="formGroupExampleInput">Example label</label>
                            <input
                                type="text"
                                class="form-control"
                                id="formGroupExampleInput"
                                placeholder="Example input"
                            />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="formGroupExampleInput">Example label</label>
                            <input
                                type="text"
                                class="form-control"
                                id="formGroupExampleInput"
                                placeholder="Example input"
                            />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="formGroupExampleInput">Example label</label>
                            <input
                                type="text"
                                class="form-control"
                                id="formGroupExampleInput"
                                placeholder="Example input"
                            />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="row no-gutters">
                    <div class="col-md-5">
                        <p>GMT Paris</p>
                    </div>
                    <div class="col-md-7">
                        <input
                            type="email"
                            class="form-control"
                            aria-describedby="emailHelp"
                            placeholder="Enter email"
                        />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <input
                    type="email"
                    class="form-control"
                    aria-describedby="emailHelp"
                    placeholder="Enter email"
                />
            </div>
        </div>
    </form>
</div>
