.header {
    background-color: rgb(47, 47, 124);
    height: 90px;
    margin-left: 15px;
    margin-right: 10px;
}

.form {
    height: 45px;
    white-space: nowrap;
    input {
        box-shadow: none;
        border: none;
        border-radius: 0px;
    }
}

.radio {
    margin: 5px;
}
